html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./images/campus2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    background: rgb(218, 210, 210);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #030202;
    width: 90%;
    max-width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #0c0808;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #7240ac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #7127c6;
}

p {
    margin-top: 10px;
}

a {
    color: #0095ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        padding: 8px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        margin: 20px;
    }

    h2 {
        font-size: 1.3rem;
    }

    input, button, label {
        font-size: 0.95rem;
    }
}
